* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: Georgia, serif;
  background-color: #ebebeb;
}

.container2 {
  max-width: 960px;
  margin: 30px auto;
  background-color: #fff;
  padding: 0 30px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

a {
  text-decoration: none;
  outline: none !important;
}

/* header */
.line {
  height: 5px;
  background-color: #81b300;
  margin: 0 -30px;
}

.header {
  background-color: #ffffff;
  padding: 36px 0;
  position: relative;
}

.header__logo {
  color: #333333;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
}

.header__logo:first-letter {
  font-size: 46px;
}

.header__sublogo {
  color: #999999;
  font-size: 12px;
  font-weight: 400;
}

.header__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #81b300;
  font-size: 12px;
  font-weight: 400;
}

.header__options-item:after {
  content: " |\00A0";
}

.header__options-item:last-child:after {
  content: none;
}

.header__options-item a {
  color: #81b300;
}

.header__options-item a:hover {
  color: #374d00;
}

.header_sosial-links {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 0 15px 15px;
}

.sosial-links {
  width: 252px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px 12px;
  background-color: #81b300;
}

.sosial-links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 32px;
  height: 32px;
  background-color: #1f1f1f;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.sosial-links a:hover {
  background-color: #00acee;
}

.sosial-links a i {
  font-size: 16px;
  color: #fff;
}

@media (max-width: 600px) {
  .container2 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .header {
    padding-top: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__wrap-logo {
    margin-bottom: 20px;
    text-align: center;
  }
  .header__options {
    font-size: 14px;
  }
  .header_sosial-links {
    top: 0;
    left: 50%;
    margin-left: -126px;
  }
}

@media (max-width: 360px) {
  .header__options {
    font-size: 12px;
  }
}

.navigation {
  background-color: #81b300;
  margin: 0px -30px;
  padding: 20px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__menu a {
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  margin-right: 20px;
}

.navigation__menu a:hover {
  color: #000000;
}

.navigation form {
  width: 282px;
  font-size: 12px;
  font-weight: 400;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation form input[type=search] {
  height: 26px;
  padding-left: 9px;
  border: 1px solid #dddddd;
  outline: none;
  color: #7f7f7f;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #fff;
}

.navigation form input[type=search]:focus {
  border: 1px solid #6f9a00;
}

.navigation form input[type=submit] {
  height: inherit;
  border: 1px solid #dddddd;
  outline: none;
  background-color: #fff;
  color: #81b300;
  font-weight: bold;
  text-transform: uppercase;
}

.navigation form input[type=submit]:focus {
  border: 1px solid #6f9a00;
}

.navigation form input[type=submit]:hover {
  background-color: #eaffb3;
}

@media (max-width: 900px) {
  .navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navigation__menu {
    margin-bottom: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navigation__menu a {
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .navigation form {
    max-width: 230px;
  }
}

.slider {
  background-color: #f2f2f2;
  margin: 0px -30px;
  padding: 30px 30px;
  text-align: center;
}

.slider_border {
  padding: 9px;
  border: 1px solid #f2f2f2;
  background-color: #fff;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}

.benefits__item {
  text-align: center;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  margin-right: 25px;
}

.benefits__item:nth-child(4) {
  margin-right: 0;
}

.benefits__item i {
  font-size: 70px;
  margin-bottom: 15px;
}

.benefits__item h2 {
  color: #81b300;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 15px;
}

.benefits__item p {
  color: #888888;
  font-size: 13px;
  font-weight: 400;
  line-height: 20.8px;
  max-width: 203px;
  margin: 0 auto;
}

.benefits__item_users {
  color: #c45f4b;
}

.benefits__item_earth {
  color: #cf9d41;
}

.benefits__item_cogs {
  color: #3d5f12;
}

.benefits__item_leaf {
  color: #7da3b7;
}

@media (max-width: 770px) {
  .benefits {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .benefits__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-right: 0;
    margin-bottom: 25px;
  }
  .benefits__item:last-child {
    margin-bottom: 0;
  }
  .benefits__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}

@media (max-width: 500px) {
  .benefits__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .benefits__item:nth-last-child(-n+2) {
    margin-bottom: 25px;
  }
  .benefits__item:last-child {
    margin-bottom: 0;
  }
}

.divider {
  background-color: #e2e2e2;
  margin: 0;
}

.projects {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects__item {
  margin-right: 25px;
}

.projects__item:nth-child(4) {
  margin-right: 0;
}

.projects__item img {
  padding: 4px;
  border: 1px solid #e2e2e2;
  margin-bottom: 18px;
}

.projects__item h3 {
  margin-bottom: 12px;
  color: #444444;
  font-size: 14px;
  font-weight: 400;
}

.projects__item p {
  margin-bottom: 12px;
  color: #878787;
  font-size: 13px;
  font-weight: 400;
  line-height: 20.8px;
  max-width: 208px;
}

.projects__item a {
  color: #81b300;
  font-size: 13px;
  font-weight: 400;
  display: block;
  text-align: right;
  max-width: 208px;
}

.projects__item a:hover {
  color: #5c8000;
}

@media (max-width: 850px) {
  .projects {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .projects__item {
    margin-right: 0px;
    margin-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 520px) {
  .projects {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects__item:last-child {
    margin-bottom: 0;
  }
}

.footer {
  background-color: #3b3b3b;
  padding: 22px 30px;
  margin: 0 -30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__item {
  -ms-flex-preferred-size: calc(25% - 15px);
      flex-basis: calc(25% - 15px);
  min-width: 180px;
  margin-bottom: 20px;
}

.footer__item h3 {
  color: #666666;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
  text-transform: uppercase;
}

.footer__item h5 {
  color: #999999;
  font-size: 13px;
  font-weight: bold;
}

.footer__item p {
  color: #999999;
  font-size: 13px;
  font-weight: 400;
  line-height: 20.8px;
}

.footer__item small {
  color: #999999;
  font-size: 11px;
  font-weight: 400;
  display: block;
  margin-bottom: 11px;
}

.footer__item span {
  font-size: 12px;
  display: block;
  color: #999999;
  font-weight: 400;
  line-height: 19.2px;
}

.footer__item a {
  color: #81b300;
  font-size: 12px;
  font-weight: 400;
  display: block;
  text-align: right;
}

.footer__item a:hover {
  color: #5c8000;
}

.footer__item_margin h3 {
  margin-bottom: 30px;
}

.footer__item_margin p {
  margin-bottom: 20px;
}

.footer__item_margin h5 {
  margin-bottom: 7px;
}

.footer__item ul li {
  color: #999999;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
  border-bottom: 1px solid #484848;
  padding-bottom: 10px;
  padding-top: 10px;
  cursor: pointer;
}

.footer__item ul li:first-child {
  padding-top: 0;
}

.footer__item ul li:hover {
  color: #fff;
}

.footer__form input {
  background-color: #1f1f1f;
  height: 30px;
}

.footer__form input[type="text"], .footer__form input[type="email"] {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  padding-left: 10px;
  color: #999999;
  border: none;
}

.footer__form input:focus {
  border: 1px solid #81b300;
}

.footer__form input[type="submit"] {
  text-align: center;
  border: none;
  border-radius: 5px;
  color: #81b300;
  font-size: 13px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
  cursor: pointer;
  padding-left: 12px;
  padding-right: 12px;
}

.footer__form input[type="submit"]:hover {
  background-color: #666666;
}

@media (max-width: 450px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.copyright {
  background-color: #2e2e2e;
  padding: 22px 30px;
  margin: 0 -30px;
}

.copyright__text, .copyright__template {
  color: #737373;
  font-size: 12px;
  font-weight: 400;
}

@media (max-width: 520px) {
  .copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .copyright__text {
    margin-bottom: 15px;
    text-align: center;
    line-height: 1.3;
  }
}
/*# sourceMappingURL=style.css.map */